table,thead,tbody,tr,td,th{
    border: black 1px solid;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

thead~tbody>tr{
    background-color: rgb(219, 219, 219);
}

tbody>tr{
    background-color: whitesmoke;
    font-style: italic;
}

tbody tr:nth-child(2n){
    background-color: lightgoldenrodyellow;
}

thead{
    background-color: lightblue;
}

tbody tr:hover{
    background-color: aquamarine;
    cursor: pointer;
}
